In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix , accuracy_score,precision_score,recall_score,roc_curve,f1_score,classification_report
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier, VotingClassifier,BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier
from xgboost import XGBClassifier

In [2]:
df=pd.read_csv(r'D:\COURSES\AI\Epsilon Ai\Session 33\train.csv')
df

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [4]:
df.isnull().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [5]:
df.drop(['Unnamed: 0','id'],axis=1,inplace=True)
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [6]:
df.dropna(axis=0,inplace=True)
df.isnull().sum()

Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [7]:
cat_col=df.select_dtypes('object').columns
cat_col

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction'], dtype='object')

In [8]:
df=pd.get_dummies(df,columns=cat_col,drop_first=True)
df

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,13,460,3,4,3,1,5,3,5,5,...,5,5,25,18.0,True,False,True,False,True,False
1,25,235,3,2,3,3,1,3,1,1,...,4,1,1,6.0,True,True,False,False,False,False
2,26,1142,2,2,2,2,5,5,5,5,...,4,5,0,0.0,False,False,False,False,False,True
3,25,562,2,5,5,5,2,2,2,2,...,4,2,11,9.0,False,False,False,False,False,False
4,61,214,3,3,3,3,4,5,5,3,...,3,3,0,0.0,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,23,192,2,1,2,3,2,2,2,2,...,3,2,3,0.0,False,True,False,True,False,False
103900,49,2347,4,4,4,4,2,4,5,5,...,5,4,0,0.0,True,False,False,False,False,True
103901,30,1995,1,1,1,3,4,1,5,4,...,5,4,7,14.0,True,True,False,False,False,False
103902,22,1000,1,1,1,5,1,1,1,1,...,4,1,0,0.0,False,True,False,True,False,False
103903,27,1723,1,3,3,3,1,1,1,1,...,3,1,0,0.0,True,False,False,False,False,False

In [9]:
x=df.drop('satisfaction_satisfied',axis=1)
y=df['satisfaction_satisfied']

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
y_train.value_counts()

satisfaction_satisfied
False    47162
True     35713
Name: count, dtype: int64

In [12]:
scaler=StandardScaler()

In [13]:
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [14]:
nb=GaussianNB()
lr=LogisticRegression(),
knn=KNeighborsClassifier(n_neighbors=5)

model=VotingClassifier(estimators=[('nb',GaussianNB()),('lr',LogisticRegression()),('tree',DecisionTreeClassifier())],voting='soft')
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(accuracy_score(y_train,model.predict(x_train)))
print(accuracy_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))

0.923788838612368
0.9082002027124861
0.927749060150376
0.8598649825783972

In [15]:
model=BaggingClassifier(estimator=LogisticRegression(),n_estimators=6)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(accuracy_score(y_train,model.predict(x_train)))
print(accuracy_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))

0.87563197586727
0.8754766156667793
0.882796197542314
0.8291594076655052

In [16]:
models={
    'lr':LogisticRegression(),
    'KNN':KNeighborsClassifier(n_neighbors=7),
    'NB':GaussianNB(),
    'dt':DecisionTreeClassifier(),
    'RF':RandomForestClassifier(n_estimators=13),
    'xgb':XGBClassifier(n_estimators=10)
}

In [17]:
for name,model in models.items():
    print(name)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print('train_conf',confusion_matrix(y_train,model.predict(x_train)))
    print('train_conf',confusion_matrix(y_test,y_pred))
    print('acc_train',accuracy_score(y_train,model.predict(x_train)))
    print('acc_test',accuracy_score(y_test,y_pred))
    print(precision_score(y_test,y_pred))
    print(recall_score(y_test,y_pred))
    print(classification_report(y_test,y_pred))
    print(roc_curve(y_test,y_pred))
    print('-'*30)

lr
train_conf [[42706  4456]
 [ 5870 29843]]
train_conf [[10518  1017]
 [ 1564  7620]]
acc_train 0.8754027149321267
acc_test 0.8754283507891307
0.8822507815213616
0.8297038327526133
              precision    recall  f1-score   support

       False       0.87      0.91      0.89     11535
        True       0.88      0.83      0.86      9184

    accuracy                           0.88     20719
   macro avg       0.88      0.87      0.87     20719
weighted avg       0.88      0.88      0.87     20719

(array([0.        , 0.08816645, 1.        ]), array([0.        , 0.82970383, 1.        ]), array([2, 1, 0]))
------------------------------
KNN
train_conf [[46039  1123]
 [ 3671 32042]]
train_conf [[11182   353]
 [ 1185  7999]]
acc_train 0.9421538461538461
acc_test 0.9257686181765529
0.9577346743295019
0.8709712543554007
              precision    recall  f1-score   support

       False       0.90      0.97      0.94     11535
        True       0.96      0.87      0.91      9184

    accuracy                           0.93     20719
   macro avg       0.93      0.92      0.92     20719
weighted avg       0.93      0.93      0.93     20719

(array([0.        , 0.03060251, 1.        ]), array([0.        , 0.87097125, 1.        ]), array([2, 1, 0]))
------------------------------
NB
train_conf [[42347  4815]
 [ 6791 28922]]
train_conf [[10426  1109]
 [ 1760  7424]]
acc_train 0.8599577677224736
acc_test 0.8615280660263526
0.8700339857025665
0.8083623693379791
              precision    recall  f1-score   support

       False       0.86      0.90      0.88     11535
        True       0.87      0.81      0.84      9184

    accuracy                           0.86     20719
   macro avg       0.86      0.86      0.86     20719
weighted avg       0.86      0.86      0.86     20719

(array([0.        , 0.09614218, 1.        ]), array([0.        , 0.80836237, 1.        ]), array([2, 1, 0]))
------------------------------
dt
train_conf [[47162     0]
 [    0 35713]]
train_conf [[10977   558]
 [  586  8598]]
acc_train 1.0
acc_test 0.9447849799700758
0.9390563564875491
0.9361933797909407
              precision    recall  f1-score   support

       False       0.95      0.95      0.95     11535
        True       0.94      0.94      0.94      9184

    accuracy                           0.94     20719
   macro avg       0.94      0.94      0.94     20719
weighted avg       0.94      0.94      0.94     20719

(array([0.        , 0.04837451, 1.        ]), array([0.        , 0.93619338, 1.        ]), array([2, 1, 0]))
------------------------------
RF
train_conf [[47139    23]
 [   87 35626]]
train_conf [[11253   282]
 [  597  8587]]
acc_train 0.9986726998491704
acc_test 0.9575751725469376
0.9682038561280866
0.9349956445993032
              precision    recall  f1-score   support

       False       0.95      0.98      0.96     11535
        True       0.97      0.93      0.95      9184

    accuracy                           0.96     20719
   macro avg       0.96      0.96      0.96     20719
weighted avg       0.96      0.96      0.96     20719

(array([0.        , 0.02444733, 1.        ]), array([0.        , 0.93499564, 1.        ]), array([2, 1, 0]))
------------------------------
xgb
train_conf [[45592  1570]
 [ 2835 32878]]
train_conf [[11181   354]
 [  757  8427]]
acc_train 0.9468476621417797
acc_test 0.9463777209324774
0.9596856850017083
0.9175740418118467
              precision    recall  f1-score   support

       False       0.94      0.97      0.95     11535
        True       0.96      0.92      0.94      9184

    accuracy                           0.95     20719
   macro avg       0.95      0.94      0.95     20719
weighted avg       0.95      0.95      0.95     20719

(array([0.        , 0.03068921, 1.        ]), array([0.        , 0.91757404, 1.        ]), array([2, 1, 0]))
------------------------------